// define your variables here
// COLORS
$mine-shaft: #333;
$black: #000;
$half-baked: #81b3d2;
$brown: #766357;

$text-color: $mine-shaft;
$heading-color: $black;
$brand-color: $half-baked;

// RESOLUTION
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// WIDTH
$xl-width: 1200px;
