// define your variables here
// COLORS
$mine-shaft: #333;
$black: #000;
$half-baked: #81b3d2;
$half-baked-hover: #669ec0;
$half-baked-active: #5496bd;
$brown: #766357;
$brown-hover: #604e43;
$brown-active: #503e33;

$text-color: $mine-shaft;
$heading-color: $black;
$brand-color: $half-baked;
$brand-color-hover: $half-baked-hover;
$brand-color-active: $half-baked-active;

// RESOLUTION
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// WIDTH
$xl-width: 1200px;
