// define your variables here
// COLORS
$mine-shaft: #333;
$black: #000;

$text-color: $mine-shaft;
$heading-color: $black;

// RESOLUTION
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// WIDTH
$xl-width: 1200px;
