.page-header {
  position: relative;
  padding: 5px 47px;

  @include xl {
    padding-right: 73px;
    padding-left: 73px;
  }

  &__logo-link {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
